<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bet">
            <h2><span>Bet</span> {{ bet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Chips</span></dt>
                <dd>
                    <span>{{ bet.chips }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ bet.status }}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <div *ngIf="bet.user">
                        <a [routerLink]="['/game-user', bet.user?.id, 'view']">{{ bet.user?.id }}</a>
                    </div>
                </dd>
                <dt><span>Hand</span></dt>
                <dd>
                    <div *ngIf="bet.hand">
                        <a [routerLink]="['/hand', bet.hand?.id, 'view']">{{ bet.hand?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bet', bet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
