<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gameUser">
            <h2><span>Game User</span> {{ gameUser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{ gameUser.username }}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{ gameUser.password }}</span>
                </dd>
                <dt><span>Chips</span></dt>
                <dd>
                    <span>{{ gameUser.chips }}</span>
                </dd>
                <dt><span>Role</span></dt>
                <dd>
                    <div *ngIf="gameUser.role">
                        <a [routerLink]="['/role', gameUser.role?.id, 'view']">{{ gameUser.role?.id }}</a>
                    </div>
                </dd>
                <dt><span>Parent</span></dt>
                <dd>
                    <div *ngIf="gameUser.parent">
                        <a [routerLink]="['/game-user', gameUser.parent?.id, 'view']">{{ gameUser.parent?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/game-user', gameUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
