<div>
    <h2 id="page-heading">
        <span>Game Commissions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-game-commission" [routerLink]="['/game-commission/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Game Commission
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="gameCommissions?.length === 0">
        <span>No gameCommissions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="gameCommissions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Commission</span></th>
                    <th scope="col" ><span>Game User</span></th>
                    <th scope="col" ><span>Game</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gameCommission of gameCommissions ;trackBy: trackId">
                    <td><a [routerLink]="['/game-commission', gameCommission.id, 'view']">{{ gameCommission.id }}</a></td>
                    <td>{{ gameCommission.commission }}</td>
                    <td>
                        <div *ngIf="gameCommission.gameUser">
                            <a [routerLink]="['/game-user', gameCommission.gameUser?.id, 'view']" >{{ gameCommission.gameUser?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="gameCommission.game">
                            <a [routerLink]="['/game', gameCommission.game?.id, 'view']" >{{ gameCommission.game?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/game-commission', gameCommission.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/game-commission', gameCommission.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(gameCommission)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
